---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import StickyConversionBar from '../components/StickyConversionBar.astro';
import ScrollReveal from '../components/ScrollReveal.astro';
import Hero from '../components/Hero.astro';
import PainPoints from '../components/PainPoints.astro';
import ConversionCTA from '../components/ConversionCTA.astro';
import Solutions from '../components/Solutions.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import LeadMagnet from '../components/LeadMagnet.astro';
import CaseStudies from '../components/CaseStudies.astro';
import FAQ from '../components/FAQ.astro';
import Process from '../components/Process.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout title="רועיטק - Automation Solutions for Modern Business">
  <ScrollReveal />
  <StickyConversionBar />
  <Navbar />
  
  <main class="pt-20">
    <Hero />
    <PainPoints />
    <ConversionCTA />
    <Solutions />
    <About />
    <Testimonials />
    <LeadMagnet />
    <CaseStudies />
    <FAQ />
    <Process />
    <CTA />
    <Footer />
    <WhatsAppButton />
  </main>
</Layout>
